*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    color: #fff;
    font-family: sans-serif;
}
.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degreee-section{
    display: flex;
    align-items: center;
    h2{
        font-size: 40px;
    }
    span{
        margin: 10px;
        font-size: 30px;
    }
}