.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: $h1-font-size;
  color: $title-color;
  margin-bottom: $mb-3;
}

.section-subtitle {
  display: block;
  color: $first-color;
  font-weight: $font-medium;
  margin-bottom: $mb-1;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
  .bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin: 0 $mb-2;
  }
  .nav{
    max-width: 1024px;
    height: $header-height;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    .nav__logo{
      font-size: 1.5rem;
      z-index: 1000;
      &:hover{
        color: $first-color
      }
    }
    .nav__menu{
      transition: all .5s ease-in-out;
      .nav__list{
        display: flex;
        gap: 2rem;
        .nav__item{
          margin-bottom: $mb-2;
          margin: auto 0;
          .nav__link{
            &:hover{
              color: $first-color;
            }
          }
          .active-link{
            color: $first-color;
          }
        }
      }
    }
    .nav__toggle{
      font-size: 2rem;
      cursor: pointer;
    }
    .show-menu{
      top: $header-height
    }
    &__link, &__logo, &__toggle{
      color: $text-color;
      font-weight: $font-medium;
      transition: .4s;
    }
  }
}
.bd-grid{
  display: grid;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: $body-color;
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    border-radius: 0 0 1rem 1rem;
    z-index: $z-fixed;
    .nav__list{
      flex-direction: column;
    }
  }
}
