.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: $h1-font-size;
  color: $title-color;
  margin-bottom: $mb-3;
}

.section-subtitle {
  display: block;
  color: $first-color;
  font-weight: $font-medium;
  margin-bottom: $mb-1;
}
