@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: #707070;
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #FBFEFD;
  color: #707070;
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  color: #069C54;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FBFEFD;
}

header .bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

header .nav {
  max-width: 1024px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .nav__logo {
  font-size: 1.5rem;
  z-index: 1000;
}

header .nav .nav__logo:hover {
  color: #069C54;
}

header .nav .nav__menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .nav .nav__menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header .nav .nav__menu .nav__list .nav__item {
  margin-bottom: 1rem;
  margin: auto 0;
}

header .nav .nav__menu .nav__list .nav__item .nav__link:hover {
  color: #069C54;
}

header .nav .nav__menu .nav__list .nav__item .active-link {
  color: #069C54;
}

header .nav .nav__toggle {
  font-size: 2rem;
  cursor: pointer;
}

header .nav .show-menu {
  top: 3rem;
}

header .nav__link, header .nav__logo, header .nav__toggle {
  color: #707070;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scroll-header {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem;
  background: rgba(6, 156, 84, 0.5);
  border-radius: .4rem;
  z-index: 10;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #048654;
  color: white;
}

.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

.bd-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.home {
  margin: 0 1rem;
}

.home .home__container {
  height: calc(100vh - $header-height);
  -ms-flex-line-pack: center;
      align-content: center;
}

.home .home__container .home__data .home__title {
  font-size: 2.25rem;
  color: #069C54;
  margin-bottom: 0.5rem;
}

.home .home__container .home__data .home__subtitle {
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 2rem;
}

.home .home__container .home__img {
  width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #069C54;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .75rem 1rem;
  border-radius: .5rem;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

.button:hover {
  background-color: #048654;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #FBFEFD;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
  }
  .nav__menu .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */