@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#1f3756, #141539);
    min-width: 100vw;
    min-height: 100vh;
    font: 600 15px 'Barlow Semi Condensed', sans-serif;
}