@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#1f3756, #141539);
  min-width: 100vw;
  min-height: 100vh;
  font: 600 15px "Barlow Semi Condensed", sans-serif;
  overflow-y: hidden;
}
header {
  display: flex;
  margin: 30px auto 0;
  padding: 15px 20px;
  border: 5px solid #516079;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  img {
    height: 100px;
    width: auto;
  }
  .score {
    display: grid;
    place-items: center;
    background: #fff;
    border-radius: 10px;
    max-width: fit-content;
    padding: 10px 50px;
    span {
      color: #354b90;
      font-size: 16px;
    }
    p {
      color: #3a4362;
      font-size: 60px;
    }
  }
}
main {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 310px;
  margin: 100px auto 0;
  .triangle {
    text-align: center;
  }
}
.card {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  border: 17px solid #5671f6;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  top: -60px;
  left: -30px;
  transition: all 0.4s ease-in-out;
  img {
    height: 60px;
    width: auto;
  }
  &:hover {
    opacity: 0.8;
  }
}
.scissors {
  border-color: #ecaa22;
  box-shadow: inset 0 6px 0 #00000033, 0 7px 0 #d18801;
  position: absolute;
  top: -60px;
  left: 190px;
}
.rock {
  border-color: #dd405d;
  box-shadow: inset 0 6px 0 #00000033, 0 7px 0 #e41a3f;
  position: absolute;
  top: 150px;
  left: 80px;
}
.paper {
  border: 17px solid #5671f6;
  box-shadow: inset 0 6px 0 #00000033, 0 7px 0 #2f50f7;
}
.rules-button {
  display: flex;
  max-width: fit-content;
  position: fixed;
  bottom: 20px;
  right: 25px;
  color: white;
  letter-spacing: 2px;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: #3a4362;
    background: #fff;
    font-weight: 700;
  }
}
.rules-bg {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: rgba(7, 7, 7, 0.651);
  width: 100vw;
  height: 100vh;
  .rules-modal {
    opacity: 1;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    height: fit-content;
    .text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 25px;
      .close-button {
        cursor: pointer;
        height: 20px;
        width: auto;
        transition: all 0.4s ease-in-out;
        &:hover {
          path {
            fill: #000;
          }
        }
      }
    }
    .rules-img {
      padding: 30px 20px 10px;
    }
  }
}
.result {
  display: none;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  .outcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    .win {
      color: #008000;
    }
    .lose {
      color: #ff0000;
    }
    .outcome-text {
      display: none;
    }
    h1 {
      color: #fff;
      font-size: 50px;
    }
    .play-button {
      font: 600 14px "Barlow Semi Condensed", sans-serif;
      color: #2f50f7;
      letter-spacing: 2px;
      display: none;
      order: 2;
      padding: 10px 50px;
      border-radius: 5px;
      border: none;
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        opacity: 0.75;
        color: #e41a3f;
      }
    }
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: #fff;
      font-size: 17px;
      letter-spacing: 2px;
      margin-bottom: 40px;
    }
    .result-card {
      width: 210px;
      height: 210px;
      cursor: none;
      position: static;
      img {
        height: 80px;
        width: auto;
      }
      .icon {
        display: none;
      }
    }
  }
}
.card2 {
  border-color: #1f3756;
  background: #1f3756;
  box-shadow: inset 0 6px 0 #1f3756;
}
.icon-paper2,
.icon-paper {
  display: flex;
  background: #fff;
  border: 17px solid #5671f6;
  box-shadow: inset 0 6px 0 #00000033, 0 7px 0 #2f50f7;
}
.icon-rock,
.icon-rock2 {
  background: #fff;
  border-color: #dd405d;
  box-shadow: inset 0 6px 0 #00000033, 0 7px 0 #e41a3f;
  display: flex;
}
.icon-scissors2,
.icon-scissors {
  background: #fff;
  border-color: #ecaa22;
  box-shadow: inset 0 6px 0 #00000033, 0 7px 0 #d18801;
  display: flex;
}
.result-card {
  display: none;
}
.bg-card {
  display: flex;
  z-index: -5;
}
.image {
  margin: auto;
}

@media (max-width: 376px) {
  header {
    margin: 20px;
    img {
      height: 60px;
      width: auto;
    }
    .score {
      padding: 10px 25px 0;
      p {
        max-height: 60px;
        display: flex;
        align-items: flex-end;
      }
    }
  }
  main {
    margin-top: 170px;
    .paper {
      top: -60px;
      left: -20px;
    }
    .scissors {
      top: -60px;
      left: 180px;
    }
    .rock {
      top: 118px;
      left: 80px;
    }
  }
  .rules-button {
    margin: 50px auto;
    left: 23px;
  }
  .rules-bg {
    .rules-modal {
      padding: 15px;
      img {
        height: 270px;
        width: auto;
      }
    }
  }
  .result {
    justify-content: center;
    flex-wrap: wrap;
    width: 375px;
    .outcome{
      order: 3;
      height: fit-content;
      margin-top: 40px;
    }
    .card-container {
      .result-card {
        width: 140px;
        height: 140px;
        margin: 15px;
        img {
          height: 60px;
          width: auto;
        }
      }
    }
  }
}
