@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 66.7%;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    min-height: 30vh;
    h1{
        font-size: 2rem;
        a{
            text-decoration: none;   
            color: #000;
        }
    }
    .search-form{
        display: flex;
        padding: 3rem;
        input{
            font-size: 2rem;
            outline: none;
            padding: 1rem 1.5rem;
            border: 0.2rem solid #1fc1e9;
        }
        button{
            cursor: pointer;
            padding: 1rem;
            color: white;
            border: none;
            background: #1fc1e9;
        }
    }
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    row-gap: 5rem;
    column-gap: 3rem;
    padding: 3rem;
    margin: auto;
    width: 90%;
    .gallery-img{
        .gallery-info{
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: gray;
            padding: 0.5rem;
            a{
                color: gray;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    button{
        cursor: pointer;
        color: white;
        background: #1fc1e9;
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        transition: all 0.5s ease-in-out;
        &:hover{
            background: #137791;
        }
    }
}