@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", sans-serif;
  background: #c5e4e7;
}

input[type="text"],
button {
  font-family: "Space Mono", sans-serif;
}

.logo {
  padding: 80px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  margin: 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 10px;
  overflow: hidden;
}

.container .card {
  max-width: 50%;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

.container .tip {
  background: #fff;
  padding: 5px;
}

.container .tip p {
  font-size: 12px;
  font-weight: 700;
  color: #00494d;
}

.container .tip input {
  position: relative;
  background: #f4fafa;
  color: #0d686d;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: right;
  outline-color: #26c0ab;
}

.container .tip input::-webkit-input-placeholder {
  text-align: right;
  color: #7f9c9f;
  font-size: 18px;
}

.container .tip input:-ms-input-placeholder {
  text-align: right;
  color: #7f9c9f;
  font-size: 18px;
}

.container .tip input::-ms-input-placeholder {
  text-align: right;
  color: #7f9c9f;
  font-size: 18px;
}

.container .tip input::placeholder {
  text-align: right;
  color: #7f9c9f;
  font-size: 18px;
}

.container .tip label {
  position: absolute;
  z-index: 1;
  padding: 10px;
}

.container .tip .tip-value button {
  color: #ffffff;
  font-weight: 700;
  background: #0d686d;
  border: none;
  width: 80px;
  padding: 7px 0;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container .tip .tip-value button:hover {
  color: #0d686d;
  background: #26c0ab;
}

.container .tip .tip-value button + button {
  margin-top: 10px;
}

.container .tip .tip-value .custom {
  color: #0d686d;
  background: #f4fafa;
  width: 80px;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.container .tip .tip-value .custom::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.container .tip .tip-value .custom:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.container .tip .tip-value .custom::-ms-input-placeholder {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.container .tip .tip-value .custom::placeholder {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.container .tip div + div {
  margin-top: 30px;
}

.container .result {
  background: #00494d;
  min-width: 300px;
}

.container .result .tip-amount,
.container .result .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .result .text {
  color: #fff;
  font-size: 11px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 700;
}

.container .result .text span {
  color: #a6b5b7;
  font-size: 11px;
}

.container .result .value {
  color: #26c0ab;
  font-size: 35px;
  font-weight: 700;
}

.container .result button {
  color: #00494d;
  font-weight: 700;
  background: #0d686d;
  border: none;
  width: 100%;
  padding: 7px 0;
  border-radius: 8px;
  margin-top: 90px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container .result button:hover {
  color: #0d686d;
  background: #26c0ab;
}
/*# sourceMappingURL=style.css.map */