@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 14px Inter, sans-serif;
}

.background-color {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
}

.background-color .bg-light-grey {
  background-color: #202231;
  height: 30vh;
}

.background-color .bg-dark-grey {
  background-color: #1d2029;
  height: 70vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1072px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  color: #646982;
  margin: 0 auto;
}

header h1 {
  color: #fff;
  font-size: 21px;
  padding-bottom: 2px;
}

header span {
  font-weight: 700;
  font-size: 12px;
}

header .toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .toggle-container span {
  font-weight: 700;
}

header .toggle-container .toggle-btn {
  padding: 10px 20px 30px;
}

header .toggle-container .toggle-btn input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

header .toggle-container .toggle-btn label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(to right, #378fe6, #3eda82);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 20px #477a8550;
          box-shadow: 0 0 20px #477a8550;
}

header .toggle-container .toggle-btn label::after {
  content: "";
  width: 19px;
  height: 19px;
  background-color: #222d44;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .toggle-container .toggle-btn input:checked + label:after {
  -webkit-transform: translateX(calc(100% + 6px));
          transform: translateX(calc(100% + 6px));
}

.followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.followers .extra {
  border-radius: 5px;
  z-index: 2;
  overflow: hidden;
  margin: 0 20px;
}

.followers .insta-card {
  border-style: solid;
  border-width: 4px;
  -o-border-image: linear-gradient(to right, #fdc468, #df4996) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996)) 1;
     border-image: linear-gradient(to right, #fdc468, #df4996) 1;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}

.followers .yt-card {
  border-color: #c4032a;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #252a41;
  max-width: 253px;
  max-height: 210px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 60px;
  color: #8b97c6;
  border-radius: 6px;
  border-top: 4px solid #198ff5;
  overflow: hidden;
}

.card + .card {
  margin-left: 20px;
}

.card .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.card .user img {
  padding: 8px;
}

.card .nr-followers {
  color: #fff;
  font-weight: 700;
  font-size: 55px;
}

.card .text-followers {
  letter-spacing: 5px;
}

.card .today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1db489;
  font-size: 12px;
  margin-top: 25px;
}

.card .today img {
  padding: 4px;
}

.card .today .down-today {
  color: #dc414c;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview h1 {
  width: 1072px;
  margin: 0 auto;
  padding: 25px 0 15px;
  color: #fff;
}

.overview .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1072px;
  margin: 0 auto;
}

.overview .card-container .overview-card {
  min-width: 253px;
  max-height: 120px;
  border: none;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.overview .card-container .overview-card + .overview-card {
  margin-bottom: 20px;
}

.overview .card-container .overview-card .views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.overview .card-container .overview-card .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.overview .card-container .overview-card .numbers .overview-nr {
  font-size: 35px;
}

.overview .card-container .overview-card .numbers .percentage-nr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview .card-container .overview-card .numbers .percentage-nr img {
  padding: 0 3px;
}

.overview .card-container .overview-card .numbers .percentage-nr .nr-today {
  color: #1db489;
}

.overview .card-container .overview-card .numbers .percentage-nr .down-today {
  color: #dc414c;
}

.overview .card-container .first-card {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */