@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 400 14px Inter, sans-serif;
}
.background-color {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
  background-color: #1d2029;
  .bg-light-grey {
    background-color: #202231;
    height: 30vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.active {
  background-color: #fff;
  .bg-light-grey {
    background-color: #f8f8f8;
  }
}
header {
  display: flex;
  width: 1072px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color: #646982;
  margin: 0 auto;
  h1 {
    color: #fff;
    font-size: 21px;
    padding-bottom: 2px;
  }
  .active {
    color: #000;
    background: inherit;
  }
  span {
    font-weight: 700;
    font-size: 12px;
  }
  .toggle-container {
    display: flex;
    align-items: center;
    span {
      font-weight: 700;
    }
    .toggle-btn {
      padding: 10px 0 30px 20px;
      input[type="checkbox"] {
        width: 0;
        height: 0;
        visibility: hidden;
      }
      label {
        display: flex;
        width: 50px;
        height: 25px;
        background-image: linear-gradient(to right, #378fe6, #3eda82);
        border-radius: 100px;
        position: relative;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0 0 20px #477a8550;
      }
      .active {
        background: #646982;
        &::after {
          background-color: #fff;
        }
      }
      label::after {
        content: "";
        width: 19px;
        height: 19px;
        background-color: #222d44;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 3px;
        transition: 0.5s;
      }
      input:checked + label:after {
        transform: translateX(calc(100% + 6px));
      }
    }
  }
}
.followers {
  display: flex;
  justify-content: center;
  .extra {
    border-radius: 5px;
    z-index: 2;
    overflow: hidden;
    margin: 0 20px;
  }
  .insta-card {
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to right, #fdc468, #df4996) 1;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
  }
  .yt-card {
    border-color: #c4032a;
  }
}
.followers-active {
  .card {
    background: #f0f3fa;
    &:hover{
        background: #dfe2e9;
    }
    .nr-followers {
      color: #000;
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #252a41;
  max-width: 253px;
  max-height: 210px;
  height: fit-content;
  padding: 20px 60px;
  color: #8b97c6;
  border-radius: 6px;
  border-top: 4px solid #198ff5;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  &:hover{
    background: #2e3349;
  }
  & + .card {
    margin-left: 20px;
  }
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    img {
      padding: 8px;
    }
  }
  .nr-followers {
    color: #fff;
    font-weight: 700;
    font-size: 55px;
  }
  .text-followers {
    letter-spacing: 5px;
  }
  .today {
    display: flex;
    align-items: center;
    color: #1db489;
    font-size: 12px;
    margin-top: 25px;
    img {
      padding: 4px;
    }
    .down-today {
      color: #dc414c;
    }
  }
}
.overview {
  display: flex;
  flex-direction: column;
  h1 {
    width: 1072px;
    margin: 0 auto;
    padding: 25px 0 15px;
    color: #fff;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1072px;
    margin: 0 auto;
    .overview-card {
      min-width: 253px;
      max-height: 120px;
      border: none;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      & + .overview-card {
        margin-bottom: 20px;
      }
      .views {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 20px;
      }
      .numbers {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        .overview-nr {
          font-size: 35px;
        }
        .percentage-nr {
          display: flex;
          align-items: center;
          img {
            padding: 0 3px;
          }
          .nr-today {
            color: #1db489;
          }
          .down-today {
            color: #dc414c;
          }
        }
      }
    }
    .first-card {
      margin: 0;
    }
  }
}
.overview-active {
  h1 {
    color: #8b90a3;
  }
  .card {
    background: #f0f3fa;
    &:hover{
        background: #dfe2e9;
    }
  }
  .nr-followers {
    color: #000;
  }
}
