body{
    background: #131391;
    color: white;
}
header, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    h1{
        padding-top: 10rem;
    }
}
form{
    input, button{
        border: none;
        outline: none;
        font-size: 3rem;
        padding: 1.5rem;
    }
    input{
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;

    }
    button{
        cursor: pointer;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background: white;
        color: #5656dd;
        transition: all 0.4s ease-in-out;
        &:hover{
            color: white;
            background: #5656dd;
        }
        .fa-plus{
            pointer-events: none;
        }
    }
}
.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .todo-list{
        min-width: 25%;
        list-style: none;
        .todo{
            display: flex;
            flex-direction: row;
            margin: 0.5rem;
            background: white;
            color: black;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            font-size: 3rem;
            transition: all 0.5s ease-in-out;
            li{
                font-size: 2rem;
                flex: 1;
                padding: 1rem 1.5rem;
            }
            .trash-btn, .complete-btn{
                background: green;
                color: white;
                border: none;
                cursor: pointer;
                padding: 1rem;
            }
            .trash-btn{
                background: red;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
            .fa-check, .fa-trash{
                pointer-events: none;
            }
        }
    }
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateX(4rem);
    opacity: 0;
}
select{
    appearance: none;
    outline: none;
    cursor: pointer;
    padding: 2rem;
    padding-right: 3rem;
    font-size: 2rem;
    border: none;
    margin-left: 2rem;
    border-radius: 2rem;
    &[open]:after{
        transform: rotate(180deg);
    }
}
.select{
    position: relative;
    &::after{
        position: absolute;
        color: #0d0daa;
        content: '\25BC';
        top: calc(50% - 0.7rem);
        right: 2%;
        padding: 0 1rem;
        pointer-events: none;
        font-size: 1.5rem;
        transition: all 0.4s ease-in-out;
    }
    &:hover::after{
        color: #7e7ef7;
    }
}