@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

li {
  font-size: 1.6rem;
  list-style: none;
}

ul {
  font-style: none;
}

body {
  background: #131391;
  color: white;
}

header, form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  padding-top: 10rem;
}

form input, form button {
  border: none;
  outline: none;
  font-size: 3rem;
  padding: 1.5rem;
}

form input {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

form button {
  cursor: pointer;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: white;
  color: #5656dd;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

form button:hover {
  color: white;
  background: #5656dd;
}

form button .fa-plus {
  pointer-events: none;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-container .todo-list {
  min-width: 25%;
  list-style: none;
}

.todo-container .todo-list .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem;
  background: white;
  color: black;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 3rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.todo-container .todo-list .todo li {
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 1.5rem;
}

.todo-container .todo-list .todo .trash-btn, .todo-container .todo-list .todo .complete-btn {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.todo-container .todo-list .todo .trash-btn {
  background: red;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.todo-container .todo-list .todo .fa-check, .todo-container .todo-list .todo .fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  padding: 2rem;
  padding-right: 3rem;
  font-size: 2rem;
  border: none;
  margin-left: 2rem;
  border-radius: 2rem;
}

select[open]:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select {
  position: relative;
}

.select::after {
  position: absolute;
  color: #0d0daa;
  content: '\25BC';
  top: calc(50% - 0.7rem);
  right: 2%;
  padding: 0 1rem;
  pointer-events: none;
  font-size: 1.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.select:hover::after {
  color: #7e7ef7;
}
/*# sourceMappingURL=style.css.map */