@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #141c2f;
  transition: all 0.3s ease-in-out;
}
body,
button,
h1,
input {
  font: 700 17px "Space Mono", sans-serif;
  color: #8e94a4;
}
h1 {
  font-size: 25px;
  color: #fff;
}
section {
  display: grid;
  grid-template-columns: [start] 800px [end];
  grid-template-rows: [start] 40px [row1] 70px [row2] 400px [end];
  place-content: center;
  gap: 20px;
  padding-top: 60px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    color: #fff;
    span {
      position: relative;
      cursor: pointer;
      padding-right: 26px;
      img {
        position: absolute;
        top: 3px;
        right: 0;
      }
    }
  }
  .input-container {
    position: relative;
    input {
      background: #1f2a48;
      border-radius: 10px;
      border: none;
      width: 100%;
      padding: 20px 150px 20px 70px;
    }
    img {
      z-index: 5;
      position: absolute;
      top: 21px;
      left: 25px;
    }
    button {
      position: absolute;
      z-index: 5;
      top: 8px;
      right: 8px;
      width: 120px;
      height: 50px;
      border-radius: 10px;
      border: none;
      background: #0079fe;
      color: white;
      cursor: pointer;
    }
    .error {
      z-index: 10;
      color: #f83030;
      position: absolute;
      right: 150px;
      top: 20px;
      display: none;
    }
  }
  .content-container {
    background: #1f2a48;
    border-radius: 10px;
    .profile-header {
      display: grid;
      grid-template-columns: [start] 160px [line1] 580px [end];
      grid-template-rows: [start] 140px [end];
      padding: 30px 30px 5px;
      #profile-picture {
        width: 117px;
        height: 117px;
        border-radius: 50%;
      }
      .text {
        display: grid;
        grid-template-columns: [start] 290px [line1] 290px [end];
        grid-template-rows: [start] 30px [row1] 30px [row2] 80px [end];
        .initial-date {
          text-align: end;
          padding-top: 5px;
        }
        #id {
          color: #0079fe;
        }
        #bio {
          grid-column: start / end;
          grid-row: row2 / end;
          padding-top: 10px;
        }
      }
    }
    .portfolio-data {
      background: #141c2f;
      border-radius: 10px;
      width: 580px;
      display: flex;
      margin-left: 190px;
      padding: 20px 30px;
      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        span {
          color: #fff;
        }
      }
    }
    .other-data {
      display: grid;
      grid-template-columns: [start] 290px [line1] 290px [end];
      grid-template-rows: [start] 30px [row1] 30px [end];
      margin: 40px 0 0 190px;
      p {
        svg {
          margin-right: 10px;
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}
.light-theme {
  background: #f5f8ff;
  button,
  h1,
  input {
    font: 700 17px "Space Mono", sans-serif;
  }
  h1 {
    font-size: 25px;
    color: #161616;
  }
  .input-container input,
  .content-container {
    background: #fff;
    filter: drop-shadow(0 10px 10px rgba(158, 156, 156, 0.294));
  }
  section {
    .title {
      #theme {
        color: #161616;
      }
    }
    .content-container {
      .portfolio-data {
        background: #f3f5f5;
        span {
          color: #161616;
        }
      }
      .other-data {
        p {
          svg {
            margin-right: 10px;
            path {
              fill: #0b023f;
            }
          }
        }
      }
    }
  }
}
