@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #141c2f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body,
button,
h1,
input {
  font: 700 17px "Space Mono", sans-serif;
  color: #8e94a4;
}

h1 {
  font-size: 25px;
  color: #fff;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 800px [end];
      grid-template-columns: [start] 800px [end];
  -ms-grid-rows: [start] 40px [row1] 70px [row2] 400px [end];
      grid-template-rows: [start] 40px [row1] 70px [row2] 400px [end];
  place-content: center;
  gap: 20px;
  padding-top: 60px;
}

section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
}

section .title span {
  position: relative;
  cursor: pointer;
  padding-right: 26px;
}

section .title span img {
  position: absolute;
  top: 3px;
  right: 0;
}

section .input-container {
  position: relative;
}

section .input-container input {
  background: #1f2a48;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 20px 150px 20px 70px;
}

section .input-container img {
  z-index: 5;
  position: absolute;
  top: 21px;
  left: 25px;
}

section .input-container button {
  position: absolute;
  z-index: 5;
  top: 8px;
  right: 8px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #0079fe;
  color: white;
  cursor: pointer;
}

section .input-container .error {
  z-index: 10;
  color: #f83030;
  position: absolute;
  right: 150px;
  top: 20px;
  display: none;
}

section .content-container {
  background: #1f2a48;
  border-radius: 10px;
}

section .content-container .profile-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 160px [line1] 580px [end];
      grid-template-columns: [start] 160px [line1] 580px [end];
  -ms-grid-rows: [start] 140px [end];
      grid-template-rows: [start] 140px [end];
  padding: 30px 30px 5px;
}

section .content-container .profile-header #profile-picture {
  width: 117px;
  height: 117px;
  border-radius: 50%;
}

section .content-container .profile-header .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 290px [line1] 290px [end];
      grid-template-columns: [start] 290px [line1] 290px [end];
  -ms-grid-rows: [start] 30px [row1] 30px [row2] 80px [end];
      grid-template-rows: [start] 30px [row1] 30px [row2] 80px [end];
}

section .content-container .profile-header .text .initial-date {
  text-align: end;
  padding-top: 5px;
}

section .content-container .profile-header .text #id {
  color: #0079fe;
}

section .content-container .profile-header .text #bio {
  grid-column: start / end;
  grid-row: row2 / end;
  padding-top: 10px;
}

section .content-container .portfolio-data {
  background: #141c2f;
  border-radius: 10px;
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 190px;
  padding: 20px 30px;
}

section .content-container .portfolio-data .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section .content-container .portfolio-data .card span {
  color: #fff;
}

section .content-container .other-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 290px [line1] 290px [end];
      grid-template-columns: [start] 290px [line1] 290px [end];
  -ms-grid-rows: [start] 30px [row1] 30px [end];
      grid-template-rows: [start] 30px [row1] 30px [end];
  margin: 40px 0 0 190px;
}

section .content-container .other-data p svg {
  margin-right: 10px;
}

section .content-container .other-data p svg path {
  fill: #fff;
}

.light-theme {
  background: #f5f8ff;
}

.light-theme button,
.light-theme h1,
.light-theme input {
  font: 700 17px "Space Mono", sans-serif;
}

.light-theme h1 {
  font-size: 25px;
  color: #161616;
}

.light-theme .input-container input,
.light-theme .content-container {
  background: #fff;
  -webkit-filter: drop-shadow(0 10px 10px rgba(158, 156, 156, 0.294));
          filter: drop-shadow(0 10px 10px rgba(158, 156, 156, 0.294));
}

.light-theme section .title #theme {
  color: #161616;
}

.light-theme section .content-container .portfolio-data {
  background: #f3f5f5;
}

.light-theme section .content-container .portfolio-data span {
  color: #161616;
}

.light-theme section .content-container .other-data p svg {
  margin-right: 10px;
}

.light-theme section .content-container .other-data p svg path {
  fill: #0b023f;
}
/*# sourceMappingURL=style.css.map */