@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .card {
  min-height: 80%;
  width: 35rem;
  border-radius: 30px;
  padding: 0 5rem;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container .card .sneaker {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.container .card .sneaker .circle {
  width: 15rem;
  height: 15rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 70, 66, 0.75)), to(rgba(8, 83, 156, 0.75)));
  background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.container .card .sneaker img {
  width: 20rem;
  z-index: 2;
}

.container .card .info h1 {
  font-size: 3rem;
}

.container .card .info h3 {
  font-size: 1.3rem;
  padding: 2rem 0;
  color: #585858;
  font-weight: lighter;
}

.container .card .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .card .sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  color: #585858;
  font-weight: bold;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .card .sizes button.active {
  background: #585858;
  color: #fff;
}

.container .card .sizes button:hover {
  opacity: 0.8;
}

.container .card .purchase {
  margin-top: 5rem;
}

.container .card .purchase button {
  width: 100%;
  padding: 1rem 0;
  background: #f54642;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  margin-bottom: 3rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .card .purchase button:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */