@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #3a4764;
}
body,
button,
input {
  font: 700 28px Spartan, sans-serif;
}
.container {
  display: flex;
  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    .title {
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 26px;
      span {
        margin-top: auto;
      }
    }
    .toggle-container {
      display: flex;
      align-items: center;
      span {
        font-size: 14px;
        padding-right: 20px;
        margin-top: auto;
      }
      .toggle-btn {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          padding: 0;
          font-size: 11px;
          letter-spacing: 7px;
          padding-left: 8px;
          margin: 0 auto;
        }
        input[type="checkbox"] {
          width: 0;
          height: 0;
          visibility: hidden;
        }
        label {
          display: flex;

          width: 70px;
          height: 25px;
          background: #232c43;
          border-radius: 100px;
          position: relative;
          cursor: pointer;
          transition: 0.5s;
          box-shadow: 0 0 20px #477a8550;
          z-index: 2;
        }
        label::after {
          content: "";
          width: 19px;
          height: 19px;
          background-color: hsl(6, 63%, 50%);
          position: absolute;
          border-radius: 50%;
          top: 3px;
          left: 3px;
          transition: 0.5s;
        }
        input:checked + label:after {
          transform: translateX(calc(100% + 27px));
        }
      }
    }
    .input-container {
      width: 445px;
      height: 100px;
      border-radius: 9px;
      padding: 25px;
      margin: 20px 0;
      background: #1a2031;
      border: 0;
      outline: 0;
      color: white;
      font-size: 38px;
      text-align: right;
    }
    .buttons-container {
      display: flex;
      justify-content: center;
      background: #232c43;
      padding: 20px;
      width: fit-content;
      border-radius: 9px;
      .buttons {
        display: grid;
        grid-template-columns: [start] 90px [line1] 90px [line2] 90px [line3] 90px [end];
        grid-template-rows: [start] 60px [row1] 60px [row2] 60px [row3] 60px [row4] 60px [end];
        gap: 15px;
        .reset {
          grid-column-start: start;
          grid-column-end: line2;
        }
        .equal {
          grid-column-start: line2;
          grid-column-end: end;
        }
        button {
          color: #444b5a;
          background: #fff;
          border: 0;
          border-bottom: 3px solid #b4a597;
          border-radius: 9px;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          &:hover {
            opacity: 0.8;
          }
        }
        .reset,
        .del {
          background: hsl(225, 21%, 49%);
          border-color: hsl(224, 28%, 35%);
          color: #fff;
          font-size: 18px;
        }
        .equal {
          background: hsl(6, 63%, 50%);
          border-color: hsl(6, 70%, 34%);
          color: #fff;
          font-size: 24px;
        }
      }
    }
  }
}
.b-active {
  background: #e6e6e6;
}
.active {
  .calculator {
    span {
      color: #35352c;
    }
    .title {
      .toggle-container {
        .toggle-btn {
          label {
            background: hsl(0, 5%, 81%);
          }
        }
      }
    }
    .input-container {
      color: #35352c;
      background: white;
    }
    .buttons-container {
      background: #d1cccc;
      .buttons {
        .del, .reset {
          background: hsl(185, 42%, 37%);
          border: hsl(185, 58%, 25%);
        }
      }
    }
  }
}
@media (max-width: 376px) {
  .container {
    .calculator {
      .title {
        margin: 55px 0 25px;
        .calc {
          font-size: 35px;
        }
        .toggle-container {
          .toggle-btn {
            span {
              margin-bottom: 3px;
            }
          }
        }
      }
      .input-container {
        width: 325px;
        height: 70px;
      }
      .buttons-container {
        .buttons {
          //   display: grid;
          grid-template-columns: [start] 60px [line1] 60px [line2] 60px [line3] 60px [end];
          grid-template-rows: [start] 75px [row1] 75px [row2] 75px [row3] 75px [row4] 75px [end];
          gap: 15px;
        }
      }
    }
  }
}
