@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;1900;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 300 18px "Rubik", sans-serif;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .content-container {
    display: grid;
    grid-template-columns: [first] 210px [line1] 210px[line2] 210px [line3] 210px [end];
    grid-template-rows: [first] 190px [mid-row] 190px [end];
    gap: 20px;
    .profile-card {
      background: #5847eb;
      grid-row: first / end;
      border-radius: 10px;
    }
    .time-card {
      background: #ff8b64;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      img {
        width: 55px;
        height: auto;
        position: absolute;
        top: -5px;
        right: 10px;
        z-index: 1;
      }
      .time-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80%;
        min-width: 100%;
        background: #1d204b;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 20px;
        transition: all 0.4s ease-in-out;
        &:hover {
          opacity: 0.9;
        }
        .work {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          .dots {
            cursor: pointer;
            color: #b4b5c0;
            transition: all 0.4s ease-in-out;
            &:hover {
              color: #fff;
            }
          }
        }
        .time {
          h1 {
            margin-bottom: 15px;
            font-size: 42px;
            letter-spacing: 2px;
          }
          p {
            font-size: 14px;
            color: #696d9f;
          }
        }
      }
    }
  }
}
