@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #0d1323;
}
body,
h1 {
  font: 300 18px "Rubik", sans-serif;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .content-container {
    display: grid;
    grid-template-columns: [first] 210px [line1] 210px[line2] 210px [line3] 210px [end];
    grid-template-rows: [first] 190px [mid-row] 190px [end];
    gap: 20px;
    .profile-card {
      background: #1d204b;
      grid-row: first / end;
      border-radius: 10px;
      .profile-content {
        display: flex;
        flex-direction: column;
        background: #5847eb;
        border-radius: 10px;
        padding: 30px 20px 45px;
        img {
          width: 65px;
          height: auto;
          border: 3px solid #fff;
          border-radius: 50%;
          margin-bottom: 30px;
        }
        span {
          font-size: 12px;
          color: #c5c5c5;
        }
        h1 {
          font-size: 38px;
        }
      }
      .periods {
        display: flex;
        min-height: fit-content;
        flex-direction: column;
        padding: 20px;
        justify-content: space-between;
        span {
          cursor: pointer;
          color: #b4b5c0;
          font-size: 15px;
          transition: all 0.4s ease-in-out;
          padding: 5px 0;
          max-width: fit-content;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .time-card {
      background: #f1c65b;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      img {
        width: 55px;
        height: auto;
        position: absolute;
        top: -5px;
        right: 10px;
        z-index: 1;
      }
      .time-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80%;
        min-width: 100%;
        background: #1d204b;
        border-radius: 10px;
        position: absolute;
        cursor: pointer;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 20px;
        transition: all 0.4s ease-in-out;
        &:hover {
          background: #282c66;
        }
        .work {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          .dots {
            cursor: pointer;
            color: #b4b5c0;
            transition: all 0.4s ease-in-out;
            &:hover {
              color: #fff;
            }
          }
        }
        .time {
          h1 {
            margin-bottom: 15px;
            font-size: 42px;
            letter-spacing: 2px;
          }
          p {
            font-size: 14px;
            color: #696d9f;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .container {
    margin-top: 70px;
    .content-container {
      display: grid;
      grid-template-columns: [first] 330px [end];
      grid-template-rows: [first] 190px [row-1] 180px [row-2] 180px [row-3] 180px [row-4] 180px [row-5] 180px[end];
      .profile-card {
        grid-row: first / row-1;
        .profile-content {
          display: flex;
          flex-direction: row;
          padding-bottom: 0;
          img {
            min-width: 70px;
            min-height: auto;
            margin: 0 20px 20px 10px;
          }
          .name {
            max-height: 60px;
            margin-top: 9px;
            span {
              font-size: 17px;
            }
            h1 {
              font-size: 25px;
            }
          }
        }
        .periods {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          span {
            font-size: 19px;
          }
        }
      }
      .time-card{
          img{
              width:68px;
          }
          .time-content{
              padding: 30px;
              font-weight: 400;
              .work{
                  font-size: 20px;
              }
              .time{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  h1{
                      margin: 0;
                      font-size: 37px;
                  }
              }
          }
      }
    }
  }
}
