@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1 {
  font: 300 18px "Rubik", sans-serif;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.container .content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [first] 210px [line1] 210px [line2] 210px [line3] 210px [end];
      grid-template-columns: [first] 210px [line1] 210px [line2] 210px [line3] 210px [end];
  -ms-grid-rows: [first] 190px [mid-row] 190px [end];
      grid-template-rows: [first] 190px [mid-row] 190px [end];
  gap: 20px;
}

.container .content-container .profile-card {
  background: #1d204b;
  grid-row: first / end;
  border-radius: 10px;
}

.container .content-container .profile-card .profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #5847eb;
  border-radius: 10px;
  padding: 30px 20px 45px;
}

.container .content-container .profile-card .profile-content img {
  width: 65px;
  height: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-bottom: 30px;
}

.container .content-container .profile-card .profile-content span {
  font-size: 12px;
  color: #c5c5c5;
}

.container .content-container .profile-card .profile-content h1 {
  font-size: 38px;
}

.container .content-container .profile-card .periods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content-container .profile-card .periods span {
  cursor: pointer;
  color: #b4b5c0;
  font-size: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 5px 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.container .content-container .profile-card .periods span:hover {
  color: #fff;
}

.container .content-container .time-card {
  background: #ff8b64;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.container .content-container .time-card img {
  width: 55px;
  height: auto;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}

.container .content-container .time-card .time-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80%;
  min-width: 100%;
  background: #1d204b;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container .content-container .time-card .time-content:hover {
  opacity: 0.9;
}

.container .content-container .time-card .time-content .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.container .content-container .time-card .time-content .work .dots {
  cursor: pointer;
  color: #b4b5c0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container .content-container .time-card .time-content .work .dots:hover {
  color: #fff;
}

.container .content-container .time-card .time-content .time h1 {
  margin-bottom: 15px;
  font-size: 42px;
  letter-spacing: 2px;
}

.container .content-container .time-card .time-content .time p {
  font-size: 14px;
  color: #696d9f;
}
/*# sourceMappingURL=style.css.map */