@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
a,
button {
  font: 700 15px "Spartan", sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #effafa;
}

.background .bg-image {
  background: #5ba4a4;
  max-height: 17vh;
  overflow: hidden;
}

.background .bg-image img {
  max-height: inherit;
  min-width: 100vw;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .filters {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  min-width: 80vw;
  padding: 15px 39px 15px 30px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 1px 10px #6ec4c43d);
          filter: drop-shadow(0px 1px 10px #6ec4c43d);
}

.content .filters .filters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .filters .filters-container .filter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
}

.content .filters .filters-container .filter-card button {
  font-size: 12px;
  border: none;
  padding: 9px 8px 6px;
}

.content .filters .filters-container .filter-card .text-button {
  background: #eff6f7;
  color: #5ba4a4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content .filters .filters-container .filter-card .x-button {
  background: #5ba4a4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.content .filters .filters-container .filter-card .x-button:hover {
  background: #000;
}

.content .filters .filters-container .filter-card .x-button img {
  max-width: 12px;
  max-height: auto;
}

.content .filters .clear {
  text-align: right;
}

.content .filters .clear a {
  font-size: 13px;
  cursor: pointer;
  color: #acafaf;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.content .filters .clear a:hover {
  color: #5ba4a4;
  border-bottom: solid 2px #5ba4a4;
}

.content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .cards .card {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 100%;
  min-width: 80vw;
  padding: 20px 30px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 1px 10px #6ec4c43d);
          filter: drop-shadow(0px 1px 10px #6ec4c43d);
}

.content .cards .card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 20px;
  min-height: 88px;
}

.content .cards .card .text .line1 {
  color: #5ba4a4;
  font-size: 13px;
}

.content .cards .card .text .line1 span + span {
  margin-left: 6px;
}

.content .cards .card .text .line1 .color-card {
  text-align: center;
  font-size: 11px;
  color: white;
  background: #5ba4a4;
  padding: 7px 7px 5px;
  border-radius: 14px;
}

.content .cards .card .text .line1 .featured {
  background: #000;
}

.content .cards .card .text .line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content .cards .card .text .line2:hover {
  color: #5ba4a4;
}

.content .cards .card .text .line3 {
  color: #a2a3a3;
  font-weight: 500;
  font-size: 14px;
}

.content .cards .card .text .line3 span {
  padding-right: 15px;
}

.content .cards .card .text .line3 span + span::before {
  content: "•";
  padding-right: 15px;
}

.content .cards .card .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content .cards .card .tools span {
  font-size: 12px;
  border: none;
  padding: 9px 8px 6px;
  margin: 0 8px;
  background: #eff6f7;
  color: #5ba4a4;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content .cards .card .tools span:hover {
  color: #eff6f7;
  background: #5ba4a4;
}

.content .cards .card-featured {
  border-left: 5px solid #5ba4a4;
}

@media (max-width: 376px) {
  .content {
    max-height: 100%;
  }
  .content .filters {
    padding: 10px 15px;
    margin: 100px 25px 0;
  }
  .content .cards {
    margin: 20px 25px;
  }
  .content .cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px 15px;
    height: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative;
  }
  .content .cards .card .image {
    position: absolute;
    top: -30px;
    left: 15px;
  }
  .content .cards .card .image img {
    max-width: 50px;
    height: auto;
  }
  .content .cards .card .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 30px;
  }
  .content .cards .card .text .line1 {
    font-size: 16px;
  }
  .content .cards .card .text .line2 {
    padding: 20px 0;
  }
  .content .cards .card .tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 20px 0;
    border-top: 1px solid #a2a3a3;
  }
  .content .cards .card .tools span {
    margin: 16px 16px 0 0;
  }
}
/*# sourceMappingURL=style.css.map */