@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
a,
button {
  font: 700 15px "Spartan", sans-serif;
}
.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #effafa;
  .bg-image {
    background: #5ba4a4;
    max-height: 17vh;
    overflow: hidden;
    img {
      max-height: inherit;
      min-width: 100vw;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .filters {
    background: #fff;
    display: flex;
    position: sticky;
    z-index: 10;
    top: 80px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    min-width: 80vw;
    padding: 15px 39px 15px 30px;
    border-radius: 5px;
    filter: drop-shadow(0px 1px 10px #6ec4c43d);
    .filters-container {
      display: flex;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .filter-card {
        display: flex;
        margin: 8px;
        button {
          font-size: 12px;
          border: none;
          padding: 9px 8px 6px;
        }
        .text-button {
          background: #eff6f7;
          color: #5ba4a4;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        .x-button {
          background: #5ba4a4;
          align-items: center;
          cursor: pointer;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: background-color 0.4s ease-in-out;
          &:hover {
            background: #000;
          }
          img {
            max-width: 12px;
            max-height: auto;
          }
        }
      }
    }
    .clear {
      text-align: right;
      a {
        font-size: 13px;
        cursor: pointer;
        color: #acafaf;
        transition: color 0.4s ease-in-out;
        &:hover {
          color: #5ba4a4;
          border-bottom: solid 2px #5ba4a4;
        }
      }
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    .card {
      background: #fff;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
      min-width: 80vw;
      padding: 20px 30px;
      border-radius: 5px;
      filter: drop-shadow(0px 1px 10px #6ec4c43d);
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px 20px;
        min-height: 88px;
        .line1 {
          color: #5ba4a4;
          font-size: 13px;
          span + span {
            margin-left: 6px;
          }
          .color-card {
            text-align: center;
            font-size: 11px;
            color: white;
            background: #5ba4a4;
            padding: 7px 7px 5px;
            border-radius: 14px;
          }
          .featured {
            background: #000;
          }
        }
        .line2 {
          display: flex;
          font-size: 12px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #5ba4a4;
          }
        }
        .line3 {
          color: #a2a3a3;
          font-weight: 500;
          font-size: 14px;
          span {
            padding-right: 15px;
            & + span {
              &::before {
                content: "•";
                padding-right: 15px;
              }
            }
          }
        }
      }
      .technologies {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        span {
          font-size: 12px;
          border: none;
          padding: 9px 8px 6px;
          margin: 0 8px;
          background: #eff6f7;
          color: #5ba4a4;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #eff6f7;
            background: #5ba4a4;
          }
        }
      }
    }
    .card-featured {
      border-left: 5px solid #5ba4a4;
    }
  }
}

@media (max-width: 376px) {
  .content {
    max-height: 100%;
    .filters {
      padding: 10px 15px;
      margin: 100px 25px 0;
    }
    .cards {
      margin: 20px 25px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
        margin: 0;
        margin-top: 40px;
        height: 100%;
        min-height: fit-content;
        position: relative;
        .image {
          position: absolute;
          top: -30px;
          left: 15px;
          img {
            max-width: 50px;
            height: auto;
          }
        }
        .text {
          display: flex;
          margin: 0;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 30px;
          .line1 {
            font-size: 16px;
          }
          .line2 {
            padding: 20px 0;
          }
          .line3 {
            font-size: 13px;
          }
        }
        .technologies {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: flex-start;
          margin: 20px 0;
          border-top: 1px solid #a2a3a3;
          span {
            margin: 16px 16px 0 0;
          }
        }
      }
    }
  }
}
